/* Collapsible | Bootstrap-Card
 *
 *
 * 	Collapsible-Styles; auf divs anzuwenden.
 *
 * .dna-collapsible
 * .dna-collapsible-light   //light-Variante
 * .dna-collapsible-title   //Title bar, serves as button
 * .dna-collapsible-body    //collapsing area
 */
@import "variables";
@import "bootstrap/mixins";
@import "dna-mixins";

$dna-collapsible-light-padding-left: 2.2rem;

// .dna-collapsible
.dna-collapsible-light {
    .dna-collapsible-bar {
        display: block;
        width: 100%;
        padding: .3rem .8rem .4rem .2rem;
        text-decoration: none;
        position: relative;

        &:hover {
            background: $dna-hover-bg;
        }

        &:active {
            background: $dna-active-bg;
        }
    }

    .dna-collapsible-bar-title {
        padding-left: 2rem; //$dna-collapsible-light-padding-left;
        line-height: 125%;
        margin: 0;
        text-decoration: none;
    }

    .dna-collapsible-bar-icon {
        display: block;
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        vertical-align: bottom;
        margin: .2rem .4rem .1rem .2rem;

        .icon-arrow {
            display: inline-block;
            margin: .2rem;
            border: none;
            @include svg-sli-pfeil-rechts;
            transform: rotate(90deg);
            transition: transform $dna-transition-duration-md;
        }
    }

    .dna-collapsible-body {
        width: 100%;
        padding: 1.2rem 1.2rem 1.2rem $dna-collapsible-light-padding-left;

        > *:first-child {
            margin-top: 0;
        }
    }

    //Collapsed
    .collapsed {
        //Rotation des Pfeils beim Schließen
        .icon-arrow {
            transform: rotate(0deg);
        }
    }
}
