/* Breadcrumb
 *
 * Elemente:
 ** .dna-breadcrumb - Container (nav)
 ** .breadcrumb - Leiste mit Einträgen (ol)
 ** .dna-breadcrumb-label - Label für Screenreader, nicht sichtbar (Accessiblity)
 ** .dna-breadcrumb-item - Container (li) für links
 ** <a> - Links mit Verhalten visited/hover/active/focus
 *
 */

.dna-breadcrumb {

    .dna-breadcrumb-label {
        @include sr-only;
    }

    .breadcrumb {
        padding: 0;
        margin: 0;
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap;
    }

    .dna-breadcrumb-item {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        @include user-select(none);

        & > a,
        & > span {
            display: inline-block;
            padding: $dna-padding-base-vertical $dna-padding-base-horizontal;
            width: auto;
            min-width: 3.6rem;
            max-width: 100%;
            vertical-align: top;
            line-height: 1.8rem;
            text-decoration: none;
            overflow: hidden;
            text-overflow: ellipsis;
            @include dna-label-interactive($color: $dna-breadcrumb-color);
            @include user-select(text);
        }

        &::after {
            padding: 0;
            @include user-select(none);
        }

        &:not(:last-child) > a {
            @include dna-bg-interactive;

            @include media-breakpoint-down(xs) {
                max-width: 20rem;
            }
        }

        &:last-child {
            overflow: hidden;
            text-overflow: ellipsis;

            & > a,
            & > span {
                color: $breadcrumb-active-color;
                cursor: default;
                outline: none;
            }
        }

        //Add arrow-icon
        &:not(:last-child)::after {
            content: "";
            display: inline-block;
            margin-top: .5rem;
            @include svg-sli-breadcrumb();
        }

        //Drop-Down-Button
        .dropdown-toggle {
            vertical-align: top;
            margin-left: -.8rem;
            margin-right: -.2rem;

            &::after {
                display: none;
            }
        }

        .dropdown-menu {
            display: block;
        }
    }
}
